@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
  }

body{
  background-image: url(./assets/main.jpg);
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.runner{
  background-image: url(./assets/runners.png);
}